*{
    
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
    
}

.font-bangla{
    font-family: 'Hind Siliguri', sans-serif;
}

.btn-active{
    background-color:#422AD5;
    color: white;
}